:root{
 --bg:#050c15;--panel:#091827;--panel2:#0c2035;--line:#173752;--line2:#244e73;
 --txt:#edf6ff;--muted:#90a8c2;--blue:#55aaff;--blue2:#9bd1ff;--green:#48d18a;
 --amber:#ffc857;--red:#ff6f82;--purple:#b99cff;--cyan:#58d7e8;
}
